/* Citations:
https://stackoverflow.com/questions/41405576/margin-right-is-not-working-with-my-html-how-can-i-center-my-content
*/

html {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    margin: 0;
    background-color: #f0f0f0; /* Optional: background color for better visibility */
}

.minor-section {
    border: solid;
    color:black;
    padding: 10px;
    background-color: white;
    text-align: center;
}

.minor-div {
    border: solid;
    color:black;
    background-color: white;
    padding-inline: 150px;

}

.thumbnail {
    float: inline-start;
}

.text-padding {
    padding-inline: 150px;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.active {
    display: block;
}

.hidden {
    display: none;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img.center {
    width: 500px; /* Adjust this value as needed */
    height: 500px; /* Maintain the aspect ratio */
    max-width: 100%;
}
