/* Citations:
https://stackoverflow.com/questions/41405576/margin-right-is-not-working-with-my-html-how-can-i-center-my-content
*/

html {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    justify-content: center;
    align-items: center;
    height: 3vh; /* Full height of the viewport */
    margin: 0;
    background-color: #f0f0f0; /* Optional: background color for better visibility */
}

img {
    border-radius: 5px;
}

.minor-section {
    border: solid;
    border-radius: 15px;
    color:black;
    padding: 10px;
    background-color: rgb(212, 212, 212);
    text-align: center;
    min-width: 720px
}

.minor-div {
    border: solid;
    border-radius: 15px;
    color:black;
    background-color: white;
    padding: 10px;
    min-height: 200px;
    min-width: 700px;
    float: center;

}

.thumbnail {
    float: left
}

.text-padding {
    padding-inline: 150px;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.active {
    display: block;
}

.hidden {
    display: none;
}


img.center {
    width: 500px; /* Adjust this value as needed */
    height: 500px; /* Maintain the aspect ratio */
    max-width: 100%;
}

.background-image-container {
    height: 100vh; /* Full height */
    background-image: url('./images\white-square-tiled-texture-background.jpg'); /* Path to your image */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.point {
    cursor: pointer;
}

button {
    cursor: pointer;
}

h1, h2, h3, p {
    cursor: context-menu;
}
