.container {
    margin : auto;
    width : 60%;
}

.imgBox {
    border : solid 3px; 
    font-size : 80px;
    /* padding-left : 20px;  */
    width: 100%;
    color : rgb(255, 0, 0);
    border-color : black; 
    height : 500px; 
    background-color : seashell; 
}

.imgBox button {
    margin-top: 10px;
    border: 1px solid;
    border-color: black;
    border-radius: 34px;
    font-size: 80px;
    background-color: white ;
    position : relative; 
    top : -411px;
    left : 12px;
    z-index : 2;

}



/*#bathroomPrototype { 
    height: 500px;
    top: 83px;
    position: absolute;
    left: 258px;
    z-index: 1;
}
*/
.bathroomPrototype {
    height: 500px;
    /* top: 83px; */
    width: 60%;
    /* position: absolute; */
    /* left: 258px; */
    z-index: 1;
}

.reviewsBox {
    border : solid 3px;
    width: 100%;
    color : blue;
    border-color : black; 
    height : 700px; 
    background-color : seashell; 
}

.reviewsBox button {
    margin-top: 10px;
    border: 1px solid;
    border-color: black;
    border-radius: 34px;
    font-size: 40px;
    background-color: white ;
    position : relative; 
    top: -148px;
    left: 810px;
    z-index : 2;

}

.tagsBox {
    border : solid 3px;
    width: 100%;
    color : blue;
    border-color : black; 
    height : 100px; 
    background-color :seashell;
}

h1 { 
    text-align: center;
}

#commentSubmission { 
    border : solid 3px;
    margin-top: 120px;
    border: 1px solid;
    border-color: black;
    border-radius : 20px;
    background-color: white;

    width: 90%;
    padding: 7px;
    position: relative;
    left: 20px;
    color : blue;
    height : 134px; 
    
}

#commentSubmissionLower {
    border : solid 3px;
    margin-top: -20px;
    border: 1px solid;
    border-color: black;
    border-radius : 20px;
    background-color: white;

    width: 90%;
    padding: 7px;
    position: relative;
    left: 20px;
    color : blue;
    height : 134px; 
    
}

#commentSubmissionLower button {
    margin-top: 10px;
    border: 1px solid;
    border-color: black;
    border-radius: 34px;
    font-size: 40px;
    background-color: white ;
    position : relative; 
    top: -148px;
    left: 810px;
    z-index : 2;

}
